h1 {
    font-size: calc(2rem + 1.5vw);
}

a{
    text-decoration: none;
    color: black;
}

nav {
    background-color: white;
    margin: 20px 50px;
}

.skill-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subheading {
    text-align: right;
}

.content-section {
    margin-bottom: 50px;
}

.content-block {
    border-left: solid black 5px;
    padding: 20px;
}

.card {
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    color: transparent;
}

.card:hover {
    background-image: none !important;
    background-color: black;
    color: white;
}

.cardContainer {
    padding: 0;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-item {
    text-align: center;
}

.contact-link {
    border-bottom: solid black 3px;
    padding: 10px;
}

.contact-link:hover {
    border: none;
    background-color: black;
    color: white;
    padding: 12px 20px;
    box-shadow: 5px 5px gray;
}

.skill-block {
    text-align: center;
    padding: 20px 0;
}

.contact-block {
    height: 100%;
    align-content: center;
}

#hero {
    margin: 20px 50px;
    margin-bottom: 100px;
}

#hero-text {
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

#portrait img {
    max-height: 100px;
}

#content {
    width: 75%;
    margin: auto;
}

#main-project {
    background-image: url("../images/horiseon.jpg");
    height: 450px;
}

#secondary-project1 {
    background-image: url("../images/LabbyIntro.png");
    height: 225px;
}

#secondary-project2 {
    background-image: url("../images/Umami.png");
    height: 225px;
}

#secondary-project3 {
    background-image: url("../images/BotanyIntro.png");
    height: 225px;
}

#secondary-project4 {
    background-image: url("../images/KudoCoin.png");
    height: 225px;
}